doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/bower/components-font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src="/bower/angular/angular.min.js")
    script(src="/js/rpsApp.js")
  body(ng-controller="AppController as app")
    block content